@model List<MoneyClip.Models.Income>

@{
    Layout = "~/Views/Layouts/_Master.cshtml";
}


<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description</li>
    }
</ul>
<h1>Hello World from a View!</h1>
