input[type='text'], input[type='number']{
    display: block;
    width:100%;
    padding:.5rem 1rem;
    box-sizing: border-box;
    font-size:1.8rem;
    margin-bottom:1rem;
    border:none;
    color:lighten($color-body,20);
    &:last-child{
        margin-bottom:0;
    }
}
.required, .error{
    color:brown;
}

.help{
    font-size:.9rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color:brown;
    letter-spacing: .1rem;
}

.button{
    background-color:  $color-link;
    color:#fff;
    border:none;
    font-size:1.4rem;
    padding:.5rem 2.5rem;
    cursor: pointer;
    margin:1.5rem 0;
    border-radius: .2rem;
    transition-duration: .3s;
    @include states{
        background-color:$color-link-hover;
    }

 }