header {
    position: fixed;
    right: 6rem;
    top: 3rem;
    z-index: 1000;

    .trigger {
        @include resetButton;
        display: inline-block;
        font-size: 5rem;
        width: 5rem;
        height: 5rem;
        color: lighten($gunmetal,60);
        cursor: pointer;
        transform-origin: center;
        padding: 0;
        transition-duration: .5s;
    }

    @include states {
        button.trigger {
            color: $white;
            transform: rotate(90deg);
            font-size: 6rem;
        }

        .main-navigation {
            right: 0;
        }
    }

    .main-navigation {
        position: absolute;
        padding: 0 7.5rem 0 1.5rem;
        box-sizing: border-box;
        text-align: right;
        right: -35rem;
        top: 0;
        transition-duration: .5s;

        .link {
            font-size: 2.4rem;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 2em;
        }
    }
}
