:root {
    font-size: 62.5%;
}

$font-size-body:1.6rem;

body {
    height: 100%;
    margin: 0;
    font-size: $font-size-body;
    font-weight: 400;
    color: $color-body;
    font-family: $font-family-body;
    background-color: $color-background;
}

main {
    width: calc(100% - 32.5rem);
    padding: 10rem 5rem;
    box-sizing: border-box;
}

.relative{
    position: relative;
}
.mc-container {
    width: 100%; 
    max-width: 120rem;
    margin: 0 auto;
    @include gutter;
}

.link {
    display: inline-block;
    color: $color-link;
    background-color: transparent;
    border: none;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .3s;
    @include states {
        text-decoration: underline;
        cursor: pointer;
    }
    &.edit {
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include states{
            text-decoration: none;
            background-color:rgba($color-background,.5);
        } 
    }
    i {
        font-size: ($font-size-body * 1.222);
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    &.space-between {
        justify-content: space-between;
    }
    &.flex-end {
        justify-content: flex-end;
    }
    &.align-center{
        align-items: center;
    }
}

.flex-row{
    display:flex;
    margin-left:-1.5rem;  
    margin-right:-1.5rem;
  }

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid $color-border;
}

.title {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom:3.5rem;
    font-size:3.5rem;
}

.mobile{
    display:block;
    @include desktop{
        display: none;
    }
}

.desktop{
    display:none;
    @include desktop{
        display: block;
    }
}