:root {
    font-size: 62.5%;
}

$font-size-body: 1.6rem;

body {
    margin: 0;
    height: 100%;
    font-size: $font-size-body;
    font-weight: 400;
    font-family: $font-family-body;
    font-family: "Muli", sans-serif;
}

.mc-app {
    background-color: $blue;
    color: $gunmetal;
    min-height: 100vh;
    padding-top:6rem;

    &.dark {
        background-color: $gunmetal;
        color: $white;
    }
}

main {
    /*padding: 10rem 5rem;
    box-sizing: border-box;*/
}

.relative {
    position: relative;
}

.mc-container {
    width: 100%;
    margin: 0 auto;
    @include gutter;
}

.link {
    display: inline-block;
        color: $white;
    background-color: transparent;
    border: none;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .3s;

    @include states {
        text-decoration: underline;
        cursor: pointer;
    }

    &.edit {
        width: calc(100% + 3rem);
        margin: 0 -1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include states {
            text-decoration: none;
            background-color: rgba($color-background,.5);
        }
    }

    i {
        font-size: ($font-size-body * 1.222);
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.space-between {
        justify-content: space-between;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid $color-border;
}

.title {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 3.5rem;
    font-size: 3rem;
}

.mobile {
    display: block;

    @include desktop {
        display: none;
    }
}

.desktop {
    display: none;

    @include desktop {
        display: block;
    }
}
