/*-------A-TAG STATES-------*/

@mixin states {
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}

/*-------THEMES-------*/

@mixin theme($theme) {
    $result: '';
    @each $item in & {
        $result: $result $theme $item ',';
    }
    @at-root #{$result} {
        @content;
    }
}

/*-------CUTSOM STYLES-------*/
@mixin gutter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

@mixin resetUL{
    margin:0;
    padding:0;
    list-style:none;
}