:root
{
    font-size: 62.5%;
}

body
{
    height: 100%;
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.75em;
    font-weight: 400;
    color: $color-body;
    font-family: $font-family-body;
    background-color: $color-background;
}

main
{
    width: calc(100% - 32.5rem);
}

.mc-container
{
    width: 100%;
    // max-width: 120rem;
    margin: 0 auto;
    @include gutter;
}

.link
{
    display: inline-block;
    color: $color-body;
    background-color: transparent;
    border: none;
    font-weight: 200;
    text-decoration: none;
    transition-duration: .3s;

    @include states
    {
        text-decoration: underline;
        cursor: pointer;
    }
    i{
        font-size:1.6rem;
    }
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex
{
    display: flex;
}
