:root {
    font-size: 62.5%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: $color-body;
    font-family: $font-family-body;
    background-color:$color-background;
}

.mc-container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    @include gutter;
}
.link {
    color: $color-link;
    @include states {
        text-decoration: none;
    }
}
a{
    color: $color-link;
}

.flex {
    display: flex;
}
