$transition-duration: .5s;

.account-balance {
    @include resetButton;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
    font-weight: 900;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #555;
    overflow: hidden;

    .spacer {
        height: 0;
        width: 100%;
        transition-duration: $transition-duration;
    }

    .pin {
        @include resetButton;
        padding: 0;
        position: absolute;
        color: $blue;
        width: .75rem;
        height: .75rem;
        font-size: 1rem;
        top: 1rem;
        right: 0.5rem;
        cursor: pointer;
        opacity: 0;
        transition-duration: $transition-duration;
    }

    .icon {
        position: absolute;
        transform: translateY(-50%) translateX(25%);
        top: 50%;
        left: 0;
        opacity: 0.8;
        transition-duration: $transition-duration;
    }

    .value {
        text-align: right;
        width: 100%;
        position: relative;
        opacity: 0.2;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
        transition-duration: $transition-duration;
    }

    .type {
        @include resetButton;
        text-align: right;
        height: 0;
        color: inherit;
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        transition-duration: $transition-duration;
        cursor: pointer;
    }


    @include states {
        font-size: 4rem;

        &.active {
            .icon {
                animation: throb 90s infinite;
                animation-timing-function: linear;
            }
        }

        .spacer {
            height: 1.5rem;
            width: 100%;
        }

        .pin {
            opacity: .2;

            @include states {
                opacity: .8;
            }
        }

        .icon {
            transform: none;
            opacity: 0.3;
            font-size: 20rem;
            top: 50%;
            left: -3rem;
            transform: translateY(-50%);
        }

        .value {
            opacity: 0.8;
            width: 100%;
        }

        .type {
            visibility: visible;
            opacity: 1;
            height: 2rem;
        }
    }

    &.available {
        color: $white;
    }

    &.plus {
        color: $green;
    }

    &.minus {
        color: $red;
    }

    &.available {
        color: $white;
    }
}


@keyframes throb {
    0% {
        opacity: 0.3;
        font-size: 20rem;
        left: -3rem;
    }

    50% {
        opacity: 0.01;
        font-size: 35rem;
        left: -6rem;
    }

    100% {
        opacity: 0.3;
        font-size: 20rem;
        left: -3rem;
    }
}
