.accounts {
    .account {
        display: flex;
        justify-content: flex-start;
        width: calc(100% - 5rem);
        height: 5.7rem;
        align-items: center;
      

        .cell {
            width: 25%;
        }

        .type {
            font-style: italic;
            font-size: 1.2rem;
        }

        .crud {
            width: 8rem;
        }
    }
}
