$transition-duration:.5s;

.balances {
    .balance {
        letter-spacing: 0.1rem;
        font-size: 2.4rem;
        font-weight: 900;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.1rem solid #555;

        .icon {
            position: relative;
            transform: translateX(25%);
            opacity: 0.8;
            transition-duration: $transition-duration;
            cursor: pointer;
        }

        .value {
            text-align: right;
            width: calc(100% - 3rem);
            position: relative;
            opacity: 0.2;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
            transition-duration: $transition-duration;
            padding-bottom: 0;
        }

        .type {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1.4rem;
            font-weight: 900;
            text-transform: uppercase;
            visibility: hidden;
            opacity: 0;
            transition-duration: $transition-duration;
        }

        &:hover,
        &.active {
            font-size: 4rem;

            .icon {
                transform: none;
                opacity: 0.2;
            }

            .value {
                opacity: 0.8;
                width: calc(100% - 12rem);
                padding-bottom: 2rem;
            }

            .type {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .available {
        color: $white;
    }

    .checking {
        color: $green;
    }

    .credit {
        color: $red;
    }

    .savings {
        color: $blue;
    }
}
