.transactions {
    .transaction {
        .date{
            width: 25rem;
            text-align: left;
            font-weight: 200;
            font-size: 1.6rem;
            &.mc-label {
                @include mcLabel;
            }
        }
        .description {
            width: calc(100% - 53.5rem);
            text-align: left;
            font-weight: 400;
            font-size: 1.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.mc-label {
                @include mcLabel;
            }
        }
        .amount {
            width: 12.5rem;
            &.mc-label {
                @include mcLabel;
            }
            input {
               padding-left:2rem;
            }
        }
        .status {
            width: 7.5rem;
            text-align: center;
        }
    }
}