.transactions {
 
    .transaction {
        display: flex;
        align-items:center;
        height: 5.7rem;
        width:calc(100% - 5rem);
        
        .date,
        [name='date'] {
            width: 17.5rem;
            text-align: left;
            font-weight: 200;
            font-size: 1.6rem;
            &.mc-label {
                @include mcLabel;
            }
        }
        .description {
            width: calc(100% - 37.5rem);
            text-align: left;
            font-weight: 400;
            font-size: 1.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &.mc-label {
                @include mcLabel;
            }
        }
        .amount {
            width: 12.5rem;
            text-align: right;
            &.mc-label {
                @include mcLabel;
            }
            input {
                text-align: right;
            }
        }
        .status{
            width:7.5rem;
            text-align: center;
        }
    }
}