header {
    .nav-trigger {
        position: relative;
        height: 75px;
        box-sizing: border-box;
        transition-duration: .5s;
        border-bottom: .1rem solid transparent;

        &:hover {
            background-color: rgba(#333,0.7);
            border-bottom: .1rem solid #111;

            .main-navigation {
                top: 0;
            }
        }
    }

    .main-navigation {
        position: absolute;
        top: -75px;
        width: 100%;
        max-width: 768px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        height: 100%;
        transition-duration: .5s;
        padding: 10px;
        box-sizing: border-box;

        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0;
        }

        .link {
            font-size: 2.4rem;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 2em;
        }
    }
}
