.grid {
    @include gutter;

    .flex-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;

        /*@include tablet {
            margin: 0 -3rem;
        }*/
    }

    .col-10,
    .col-20,
    .col-30,
    .col-40,
    .col-50,
    .col-60,
    .col-70,
    .col-90,
    .col-90,
    .col-100 {
        @include gutter;
        width: 100%;
        order: 2;
        margin: 0.5rem auto;
        position: relative;
    }

    .col-10 {
        @include desktop {
            width: 10%;
        }
    }

    .col-20 {
        @include desktop {
            width: 20%;
        }
    }

    .col-30 {
        @include desktop {
            width: 30%;
        }
    }

    .col-40 {
        @include desktop {
            width: 40%;
        }
    }

    .col-50 {
        @include desktop {
            width: 50%;
        }
    }

    .col-60 {
        @include desktop {
            width: 60%;
        }
    }

    .col-70 {
        @include desktop {
            width: 70%;
        }
    }

    .col-80 {
        @include desktop {
            width: 80%;
        }
    }

    .col-90 {
        @include desktop {
            width: 90%;
        }
    }



    .first-on-mobile {
        order: 1;

        @include desktop {
            order: 2;
        }
    }
}
