<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,400i,700,900" rel="stylesheet">
    <link href="~/assets/css/bundle.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="mc-container">
            @Html.ActionLink("Home Page", "Index", "Home", null, null)
            @Html.ActionLink("Income", "Index", "Incomes", null, null)
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>
