<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bundle.min.css" rel="stylesheet">
</head>
<body>
    <header>
        @Html.ActionLink("Home Page", "Index", "Home", null, null)
        @Html.ActionLink("Income", "Index", "Incomes", null, null)
    </header>
    <main>
        <div class="mc-container">
            @RenderBody()
        </div>
    </main>
    <footer></footer>
</body>
</html>
