@{
    Layout = "~/Views/Layouts/_Master.cshtml";
}

<div class="mc-container">
    <h1>Dashboard</h1>
    <div class="total-income">
        Current Income: @String.Format("{0:C}", @ViewBag.totalIncome)
    </div>
</div>
