.draggable {
    position: relative;
    z-index: 10;
    cursor: -webkit-grab;
    border: 1px solid #transparent;
    transition-duration: 0.5s;
    background-color: #fff;
    margin-bottom: 5px;

    img,
    & > * {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    &::before {
        content: "";
        display: block;
        position: relative;
        left: -1px;
        width: calc(100% + 2px);
        height: 15px;
        background-color: #aaa;
        background: linear-gradient(#999, #777);
        border: 1px solid #777;
    }

    &.dragging {
        opacity: 0.5;
        z-index: 0;
        cursor: -webkit-grabbing;
    }
}
