.dropzone {
    position: relative;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    border: 2px dashed #aaa;
    padding: 5px !important;
    background-color: #fff;
    transition-duration: 0.5s;

    .dropzone {
        border-color: #efefef;
        border-width: 1px;
    }

    &::before {
        content: "Drop Zone";
        color: #ccc;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &.enter {
        background-color: rgba(0, 0, 0, 0.1);
        border: 3px dashed #777;

        .draggable {
            z-index: -100;
        }
    }
}
