.crud-toggle.edit-mode
   .slide
        .edit 
            i.fa.fa-edit
        .save 
            i.fa.fa-save
        .toggle-bar
        .delete 
            i.fa.fa-trash-alt
        .confirm
            i.fa.fa-check

.crud-toggle.save-mode
    .slide
        .edit 
            i.fa.fa-edit
        .save 
            i.fa.fa-save
        .toggle-bar
        .delete 
            i.fa.fa-trash-alt
        .confirm
            i.fa.fa-check
.crud-toggle.delete-mode
    .slide
        .edit 
            i.fa.fa-edit
        .save 
            i.fa.fa-save
        .toggle-bar
        .delete 
            i.fa.fa-trash-alt
        .confirm
            i.fa.fa-check
.crud-toggle.confirm-mode
    .slide
        .edit 
            i.fa.fa-edit
        .save 
            i.fa.fa-save
        .toggle-bar
        .delete 
            i.fa.fa-trash-alt
        .confirm
            i.fa.fa-check