.incomes.board
    .mc-container
        .section-header
            .title Income
                .income-total $5000 
                    span / month
            .settings
                a(href role="button" tabIndex="0")
                    i.fas.fa-cog
        .income-content
            .income-list
                .income
                    .name Benjamin
                    .amount $3500
                .income
                    .name Danielle
                    .amount $1500
                .income
                   
                     
    