<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @Html.ActionLink("Home Page", "Index", "Home", null, null)
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer></footer>
</body>
</html>
