    .card {
        background-color: lighten($color-background, 10);
        border-radius: .3rem;
        padding:1.5rem;
        box-sizing: border-box;
        height: 100%;
        @include boxShadow;
        @include large-tablet{
            padding: 5rem;
        }
    }
   