    .card {
        background-color: lighten($color-background, 10);
        border-radius: .3rem;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, .15);
        padding:1.5rem;
        box-sizing: border-box;
        height: 100%;
    }
   