.grid {
    .flex-row {
        flex-wrap: wrap;
    }

    .col-30,
    .col-40,
    .col-50,
    .col-60,
    .col-70,
    .col-100 {
        @include gutter;
        width: 100%;
        order: 2;
        margin: 1.5rem auto;
        position: relative;
    }

    .col-30 {
        @include desktop {
            width: 30%;
        }
    }

    .col-40 {
        @include desktop {
            width: 40%;
        }
    }

    .col-50 {
        @include desktop {
            width: 50%;
        }
    }

    .col-60 {
        @include desktop {
            width: 60%;
        }
    }

    .col-70 {
        @include desktop {
            width: 70%;
        }
    }

    .first-on-mobile {
        order: 1;

        @include desktop {
            order: 2;
        }
    }
}
